<div class="container">    
    <div class="row justify-content-center">
        <div class="col col-lg-8 col-md-12 col-sm-12 col-12 aboutCol">
            <h2 class="header">About Me</h2>
            <p class="paragraph">Computer science student at Oregon State University</p>
        </div>
        <div class="col col-lg-1"></div>
        <div class="col col-lg-3 col-md-12 col-sm-12 col-12 contactCol">
            <h2 class="header">Contact</h2>
            <ul class="socialList">
                <li style="float: left">
                    <a href="https://github.com/isaacpeters" class="icon">
                        <img src="./images/github.png" alt="github" style="max-width: 50px">
                    </a>
                </li>
                <li style="float: left">
                    <a href="https://www.instagram.com/isaacepeters/" class="icon">
                        <img src="./images/instagram.png" alt="instagram" style="max-width: 50px">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>