<h2 class="header">Resume</h2>

<div class="resume">
    <embed src="./emptyResume.pdf" style="width: 100%; height:100%" type='application/pdf'>
    <span>
        <a href="./emptyResume.pdf" download>
	        <button class="downloadButton" id="downloadResume">Download Resume</button>
        </a>
    </span>
</div>
