<div id="pages">
    {{!-- Menu --}}
    <section id="header">

       {{!-- Logo --}}
        <div id="slogan">
            <h1>The Good Doctor</h1>
            <p>A non-profit clinic for the uninsured</p>
        </div>

        {{!-- Menu Bar --}}
        <nav id="menu">
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./meetteam">Meet the Team</a></li>
                <li><a href="./clinicview">Clinic Overview</a></li>
                <li class="current"><a href="./contactus">Contact Us</a></li>
            </ul>
        </nav>

    </section>

    {{!-- Unordered Lists --}}
    <section id="learnmore">
        <article class="boxpost">
            <header class="style2">
                <h3>CLINIC TRIPS ARE WHAT OUR MEMBERS AT FLYING SAMS ARE ALWAYS IMPATIENTLY WAITING FOR.<br class="mobile-hide"/></h3>
            </header>
            <ul>These fabulous all day trips take place on the last Saturday of every month. Starting the day at 6am, we drive to the clinic to provide healthcare to our patients. Eagerly waiting for us, our patients smile and wave as we arrive, while the younger kids are excited to play.</ul>
            <ul>Due to the limited amount of seats, acceptance on clinic trips are reserved for members who dedicate active participation and passion towards our organization. It is imperative for all members to be as involved as possible. This includes, but is not limited to: attending the general meetings, committee meetings, social events, and fundraising events.</ul>
            <ul>Accumulate membership points and get to know the members of our organization to have the rewarding opportunity of attending these monthly clinic trips.</ul>
          </section>
        </article>

    <div class="button-container">
        <a href="https://drive.google.com/uc?export=download&id=1CPFe1AzNChWSZKO8W72DHKrHzGAB5V-C" class="course-button" target="_blank">Download the Liability Waver</a>
    </div>

    {{!-- Footer --}}
    <section id="footer">
        <div class="container">

            {{!-- Copyright --}}
            <div id="copyright">
            <ul>
                <li>&copy; Created by Geraldo Hernandez Garcia.</li>
            </ul>
            </div>
        </div>
        
        {{!-- social media links --}}
        <div class="footer-social-icons">
            <ul class="socialList">
                <li>
                    <a href="https://www.facebook.com/TheGoodDoctorABC/" class="icon" target="_blank">
                        <img src="./images/facebook.png">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/GoodDoctorABC" class="icon" target="_blank">
                        <img src="./images/twitter.png">
                    </a>
                </li>
            </ul>
        </div>

    </section>

</div>