<div id="pages">
    {{!-- Header --}}
    <section id="header">

         {{!-- Logo --}}
        <div id="slogan">
            <h1>The Good Doctor</h1>
            <p>A non-profit clinic for the uninsured</p>
        </div>

        {{!-- Menu --}}
        <nav id="menu">
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./meetteam">Meet the Team</a></li>
                <li><a href="./clinicview">Clinic Overview</a></li>
                <li class="current"><a href="./contactus">Contact Us</a></li>
            </ul>
        </nav>

    </section>

    {{!-- FAQ --}}
    <div id="main">
        <div class="title"></div>
        <div class="container">
            {{!-- Image --}}
            <div class="imgcontainer">
                <img src="./images/pic08.jpg" style="width:75%;">
                <div class="centeredtext">Get involved</div>
            </div>

            <!-- FAQ Answers -->
            <div id="content">
                <article class="boxpost">
                    <header class="style2">
                        <h3>How can I get involved?<br class="mobile-hide"/></h3>
                    </header>
                    <p>It is simple! Simply attend one of our meetings, located in Room 205 in Build A. We have them every first Tuesday of the month. You can also visit our page on Facebook for other events you can attend.<br> To attend any clinics you must have an active membership.</p>
                    <header class="style2">
                        <h3>How do I get an active membership?<br class="mobile-hide"/></h3>
                    </header>
                    <p>Attend one of the meetings to get more information on clinic requirements and events. Speak with any of the committee members to obtain a membership application. <br>Membership fees are $50 per year</p>
                    <header class="style2">
                        <h3>When do clinics take place?<br class="mobile-hide"/></h3>
                    </header>
                    <p>Clincs occur year round, on the 3rd or 4th Saturday of each month.</p>
                    <header class="style2">
                        <h3>Do I need to own a passport to attend a clinic event?<br class="mobile-hide"/></h3>
                    </header>
                    <p>Yes! It is a mandatory requirement for all members to have a passport since the clinics take place in Mexico. </p>
                </article>
            </div>
        </div>

        <hr></hr>

    </div>

    {{!-- Contact Form --}}
    <section id="subitform">
        <article class="boxpost">
            <header class="style1">
                <h3>If you have any further questions, please contact us through our form.<br class="mobile-hide"/></h3>
            </header>
        <form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php">
                <div class="submittext">
                    <input type="text" name="name" id="contact-name" placeholder="Name" />
                </div>
                <div class="submittext">
                    <input type="email" name="email" id="contact-email" placeholder="Email" />
                </div>
                <div class="submittext">
                    <textarea name="text" id="contact-message" placeholder="Message"></textarea>
                </div>
                <ul class="actions">
                    <li><input type="submit" class="style1" value="Send" /></li>
                    <li><input type="reset" class="style2" value="Reset" /></li>
                </ul>
        </form>
    </section>

    {{!-- Footer --}}
    <section id="footer">
        <div class="container">

            {{!-- Copyright --}}
            <div id="copyright">
            <ul>
                <li>&copy; Created by Geraldo Hernandez Garcia.</li>
            </ul>
            </div>
        </div>
        
        {{!-- Social Media --}}
        <div class="footer-social-icons">
            <ul class="socialList">
                <li>
                    <a href="https://www.facebook.com/TheGoodDoctorABC/" class="icon" target="_blank">
                        <img src="./images/facebook.png">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/GoodDoctorABC" class="icon" target="_blank">
                        <img src="./images/twitter.png">
                    </a>
                </li>
            </ul>
        </div>
    </section>

</div>