<div id="pages">
    {{!-- Header --}}
    <section id="header">

        {{!-- Org Slogan --}}
        <div id="slogan">
            <h1>The Good Doctor</h1>
            <p>A non-profit clinic for the uninsured</p>
        </div>

        {{!-- Web Menu --}}
        <nav id="menu">
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./meetteam">Meet the Team</a></li>
                <li><a href="./clinicview">Clinic Overview</a></li>
                <li class="current"><a href="./contactus">Contact Us</a></li>
            </ul>
        </nav>

    </section>

    {{!-- Welcome Message --}}
    <div id="main">
        <div class="title"></div>
        <div class="container">

            {{!-- Content --}}
            <div id="content">

                <!-- Carousel -->
                <div align="center" class="slideshow-container">
                    <div class="carousel1">
                        <img src="./images/pic02.jpg" style="width:100%">
                    </div>

                    <div class="carousel1">
                        <img src="./images/pic03.jpg" style="width:100%">
                    </div>

                    <div class="carousel1">
                        <img src="./images/pic04.jpg" style="width:100%">
                    </div>

                    <a class="prev" onclick="slideAction(-1, 0)">&#10094;</a>
                    <a class="next" onclick="slideAction(1, 0)">&#10095;</a>
                </div>

                <article class="boxpost">
                <header class="style1">
                    <h2>A Welcome from Dr. Grey<br/></h2>
                </header>

                <p>For over one hundred years, the Good Doctors of Oregon State 
                University have commited themselves towards giving essential public
                health services to the small town of Tijuana, Mexico. Our organization
                is ran by the tireless effort of the many dedicated and compassionate
                volunteers. Being a part of this amazing organization eight years ago
                has been a life changing decision. I've met so many inspirational 
                people and witnessed the powerful impact humans can have when they
                lend a hand to their fellow neighbors.</p>
                <p>On behalf of the Good Doctors, I thank you for visiting our site, 
                and I hope that you will consider joining or contributing to our
                organization. By navigating this site, you can learn more to all
                the services provided. These range from primary care, dental health
                and other services.</p>
                <p>If you have any questions, please use our contact page.</p>
                <p>Sincerely, <br />
                Meredith Grey, MD <br />
                President of the Good Doctors at OSU</p>
                </article>
            </div>
        </div>

        <hr></hr>

    </div>

    {{!-- Highlights --}}
    <section id="learnmore">
        <div class="row">
            <div class="column1">
                <section class="learning">
                    <a href="#" class="image featured"><img src="./images/pic02.jpg" alt="" /></a>
                    <h3><a href="./meetteam">Meet the team</a></h3>
                    <ul>Our team consists of many wonderful doctors, dentists, a wide variety of volunteers.</ul>
                </section>
            </div>
            <div class="column1">
                <section class="learning">
                    <a href="#" class="image featured"><img src="./images/pic03.jpg" alt="" /></a>
                    <h3><a href="./clinicview">See the Clinic</a></h3>
                    <ul>Once a month our team will travel to the city of Tijuana. See what happens during our monthly operations.</ul>
                </section>
            </div>
            <div class="column1">
                <section class="learning">
                    <a href="#" class="image featured"><img src="./images/pic04.jpg" /></a>
                    <h3><a href="./contactus">Contact Us</a></h3>
                    <ul>Have any questions? See our FAQ page, or send us a message and will will answer promptly.</ul>
                </section>
            </div>
        </div>
      </section>

    {{!-- Footer --}}
    <section id="footer">
        <div class="container">

            {{!-- Copyright --}}
            <div id="copyright">
            <ul>
                <li>&copy; Created by Geraldo Hernandez Garcia.</li>
            </ul>
            </div>
        </div>
        {{!-- social media links --}}
        <div class="footer-social-icons">
            <ul class="socialList">
                <li>
                    <a href="https://www.facebook.com/TheGoodDoctorABC/" class="icon" target="_blank">
                        <img src="./images/facebook.png">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/GoodDoctorABC" class="icon" target="_blank">
                        <img src="./images/twitter.png">
                    </a>
                </li>
            </ul>
        </div>
    </section>

</div>