<div id="pages">
    {{!-- Header --}}
    <section id="header">

        {{!-- Slogan --}}
        <div id="slogan">
            <h1>The Good Doctor</h1>
            <p>A non-profit clinic for the uninsured</p>
        </div>

        {{!-- Menu --}}
        <nav id="menu">
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./meetteam">Meet the Team</a></li>
                <li><a href="./clinicview">Clinic Overview</a></li>
                <li class="current"><a href="./contactus">Contact Us</a></li>
            </ul>
        </nav>

    </section>

    {{!-- Highlights --}}
    <section id="learnmore">
        <header class="style1">
                    <h2>Meet the Good Doctor's Team<br class="mobile-hide"/></h2>
                </header>
        <div class="column2">
            <section class="learning">
                <a href="#" class="image featured"><img src="./images/pic07.jpg" alt="" /></a>
                <h3><a href="#">Gabriel Ferguson, President</a></h3>
                <div class="scrollbox">
                Lorem ipsum dolor sit amet, aliquando constituam mediocritatem eam cu, id doming regione docendi est, no equidem fastidii maluisset mel. An vel habeo ornatus ancillae. Insolens adipiscing intellegam ut vis, cum cu clita fuisset salutatus, inimicus electram vix eu. Nec id etiam maiestatis disputando, quo summo gubergren similique eu, mel delenit qualisque ei. Ei omnis tollit utamur has, sea et latine volutpat convenire, eam id quis albucius appellantur. 
                </div>
            </section>
        </div>
        <div class="column2">
            <section class="learning">
                <a href="#" class="image featured"><img src="./images/pic05.jpg" alt="" /></a>
                <h3><a href="#">Ruth Aguilar, Vice President</a></h3>
                <div class="scrollbox">
                Id ius unum fabellas partiendo, tincidunt deterruisset ex vis. Eam harum libris ne, inani choro quidam eu his. Et omnes dissentias vim, sed id integre dolorem perfecto. In ius tota reprimique scribentur. Alia argumentum nec et, congue disputando sed eu, est ut prima inermis elaboraret. Ut quem libris utroque ius, eum ut stet maiestatis omittantur.
 
                </div>
            </section>
        </div>
        <div class="column2">
            <section class="learning">
                <a href="#" class="image featured"><img src="./images/pic06.jpg" alt="" /></a>
                <h3><a href="#">Giselle Lopez, Secretary</a></h3>
                <div class="scrollbox">
                Id mea vidisse legimus apeirian, eum nobis nemore dissentiet in, pri ex mollis constituam. Vix ad oportere qualisque. Pri ne eros modus viderer, no sit habemus docendi, aeque accumsan ea per. Tota exerci ex per, placerat legendos sit te, adhuc ceteros an mei. Soluta maiorum sea an, no sed viris denique. Habeo labore admodum id sed. Cu blandit facilisi conclusionemque nam.
                </div>
            </section>
        </div>
      </section>

    {{!-- Footer --}}
    <section id="footer">
        <div class="container">

            {{!-- Copyright --}}
            <div id="copyright">
            <ul>
                <li>&copy; Created by Geraldo Hernandez Garcia.</li>
            </ul>
            </div>
            </div>
            {{!-- social media links --}}
            <div class="footer-social-icons">
                <ul class="socialList">
                    <li>
                        <a href="https://www.facebook.com/TheGoodDoctorABC/" class="icon" target="_blank">
                            <img src="./images/facebook.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/GoodDoctorABC" class="icon" target="_blank">
                            <img src="./images/twitter.png">
                        </a>
                    </li>
                </ul>
            </div>
    </section>

</div>